<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login"  name="login" placeholder="login">
            </br>
            <input type="text" id="password" name="login" placeholder="password">
            </br>
            <input type="submit" action="Home/TryLogin" value="Log In">
        </form>
    </div>
</body>
</html>


    

        