<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms defaultUrl="~/Login.cshtml" loginUrl="~/Login.cshtml" slidingExpiration="true" timeout="1000">
				<credentials passwordFormat="Clear">
				<user name="admin" password="123.admin"/>
				</credentials>
			</forms>
				
		</authentication>
		<authorization>
			<allow users="admin" />
			<deny users="*" />
		</authorization>
	</system.web>
</configuration>