<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body >
    <form action="/Livros/Alugar" method="post">
        <div class="topnav">
            <input type="text" placeholder="Search..">
        </div>
        @foreach (var livro in ViewBag.Livros)
        {

            <tr>
                <th>@livro.Titulo - @livro.Autor</th>
                <button>Alugar</button>
            </tr>
        }
    </form>
</body>
</html>